
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mainPage{
  display: flex;
  width: 100vw;
}

.sideNavComponent{
  width: 15%;
  height: 100vh;
}

.sideNav{
  width: 100%;
  background-color: darkblue;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
}

.sideNav p {
  color: #4b4b4b;
  background-color: #ddd;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.2rem 0 0.2rem 0.5rem;
  border-radius: 5px;
}

.sideNav .navLink {
  text-decoration: none;
}

.App{
  width: 85%;
  padding-left: 1.5rem;
}

.header{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddUser{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 3rem;
  border: 0.5px solid black;
}

.userTable{
  width: 100%;
}

.actionButton{
  margin: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal-content  {
  background-color: aquamarine;
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.modal-content form{
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.modal-content form .submit{
  width: 5rem;
}



.loginComponent{
  height: 100vh;
  width: 100%;
  background-color: #3b3b7c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  /* height: 60%; */
  width: 50%;
  padding: 5rem 3rem;
  border-radius: 0.5rem;
  background-color: #12157a94;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.login h2{
  color: #eee;
  margin-bottom: 0.5rem
}

.login form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login input{
  /* width: 100%; */
  font-size: 1rem;
  border: #eee 0.5px solid;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

.login .inputsGroup{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.login .inputsGroup .form-group{
  margin-bottom: 0.8rem;
}

.login form button{
  width: 28%;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #4b4b4b;
  background-color: #FFD700;
  transition: 0.5s;
}

.login form button:hover{
  background-color: #ffde22;
  /* color: #eee; */
}